@using DTO;
@model ProvaTO

<style>
    .container-opcoes {
        margin:30px;
        width:fit-content;
    }

    #container-questoes{
        margin:auto;
        margin-top:40px;
        background: black;
        color: white;
        border-radius: 14px;
        padding: 20px;
    }
</style>

<h1>@Model.Usuario.Username</h1>

@using (Html.BeginForm(actionName: "SaveAnswers", controllerName: "Prova", FormMethod.Post))
{
    @Html.Partial("RenderQuestoes", Model.Questoes.ToList())
}