@using DTO
@model IEnumerable<QuestaoTO>

<div id="container-questoes" class="container">
        
    <div id="container-lista-questoes">
        @foreach (QuestaoTO questao in Model)
        {
            <div class="container-questao">
                <li>@Html.TextBox("descricao_" + questao.Id.ToString(),questao.Name, new { @class = "form-control"})</li>
                @Html.Partial("_QuestaoOpcoesEditavel", questao)
            </div>
        }
    </div>
    <div>
        <div class="d-flex justify-content-center ">
            <label class="m-2 font-monospace card-title">Pagina</label>
            <select class="m-2 form-select-sm" id="numeroQuestaoPorPagina">
                <option value="0">1</option>
                <option value="1">2</option>
                <option value="2">4</option>
                <option value="3">6</option>
                <option value="4">8</option>
                <option value="5">10</option>
            </select>
            <input class="m-2" style="width:60px" type="number" disabled id="pagina-atual" value="1" />
        </div>
        <div class="container">
            <p class="text-center"> Número de questões = <span id="itens-number">@Model.Count()</span></p>
        </div>
        <div class="container d-flex justify-content-center">
            <button type="button" class="btn btn-info m-1" id="btn-prev"> Anterior </button>
            <button type="button" class="btn btn-info m-1" id="btn-next"> Próxima </button>
        </div>
    </div>
    <div class="container btn-group-lg">
        <button class="btn btn-success" type="submit">
            Enviar Respostas
        </button>
    </div>
</div>

<script src="~/Scripts/Prova/IndexController.js"></script>